@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: rgb(27, 25, 25);
}

.retro-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Skrytý checkbox */
.retro-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Styl základního pozadí přepínače (když je vypnutý) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4285F4; /* Žluté pozadí při VYPNUTÍ */
    transition: .4s;
    border-radius: 15px;
}

/* Kolečko uvnitř přepínače */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #EA4335; /* Červené kolečko při VYPNUTÍ */
    transition: .4s;
    border-radius: 50%;
}

/* Když je přepínač ZAPNUTÝ */
input:checked + .slider {
    background-color: #FBBC05; /* Modré pozadí při ZAPNUTÍ */
}

/* Když je přepínač ZAPNUTÝ – zelené kolečko */
input:checked + .slider:before {
    background-color: #34A853; /* Zelené kolečko při ZAPNUTÍ */
    transform: translateX(26px);
}



body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 200px;
    padding: 10px;
}
button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}




#one {
    color: #4285F4;
}

#tri {
    color: #FBBC05;
}


#dva {
    color: #34A853;
}
#ctyri {
    color: #EA4335;
}
