#nasaImage {
    width: 12em;
    border-radius: .8em;
}

body { 
    width: 200px; 
    font-family: Arial, sans-serif;
    text-align: center; 
    padding: 10px; 
    background: rgb(213, 177, 177);
    border-radius: 10px;
    border: 2px solid black;
}

#message { 
    font-weight: bold; 
    color: green; 
}

#nasaImage {
    transition: transform .5 ease-in-out;
    cursor: pointer;
}

#nasaImage.zoomed {
    transform: scale(1.6);
}
