#nasaImage {
    width: 20em;
    border-radius: .8em;
}


body { 
    width: 250px; 
    font-family: Arial, sans-serif;
    text-align: center; 
    padding: 10px; 
    /* background: rgb(238, 228, 228); */
    background: rgb(233, 223, 223);

    color: #38536a;
   
}

#message { 
    font-weight: bold; 
    color: green; 
}

#nasaImage {
    transition: transform .5 ease-in-out;
    cursor: pointer;
}

#nasaImage.zoomed {
    transform: scale(1.6);
}
