#info-TimeDescription {
   /* font-style: italic;  */
 margin-top: -0.1rem;
  margin-bottom: .8rem;
  font-size: 0.75rem;
  color: #555;
} 


/* #info-TimeDescription {
 position: absolute;
  top: 370px;
  left: 7px;
  font-size: 0.75rem;
font-style: italic;
  color: #555;
}   */