/* popis nasa textu */
.nasa-description:hover {
  text-decoration: underline;
}
.nasa-description:hover {
  text-decoration: underline;
}

.nasa-description {
    transition: text-decoration 0.2s ease;
}

/* nasa url - chces vedet vic?  */
.nasa-url {
    transition: text-decoration 0.2s ease;
    text-decoration: none;
    color: black;
    font-family: 'Courier Prime', monospace;
}

.nasa-url:hover {
  text-decoration: underline;
  color: #3b77d0; /* upravit barvu podle ostatnich */
}

/* NASA - odkaz na web */
.nasa-link {
  text-decoration: none;
  color: #3b77d0;
  font-weight: bold;
}

.nasa-link:hover {
  text-decoration: underline;
}


/*   
  
  #nasa-section .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(228, 11, 11);
    border-radius: 50%;
    opacity: 0.4;
    animation: twinkle 2s infinite ease-in-out;
  }
  
  @keyframes twinkle {
    0%, 100% { opacity: 0.4; }
    50% { opacity: 1; }
  } */
  