body { 
    width: 550px; 
    font-family: 'JetBrains Mono', monospace;
    text-align: center; 
    padding: 10px; 
    background: #faebd74b;
   
    color: #272757; 
    justify-content: center;
} 

/* header {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  } */

.active-lang {
    display: flex;
    flex-direction: column; /* pod sebe */
    align-items: flex-start; /* Zarovnání doleva */
    gap: 5px; /* mezera  */
    margin-bottom: 10px; /* mezera pod */
    max-width: 40px;
    transform: scale(1.5);
    transition: transform 0.2s ease;
    margin-top: 2px;
  }

  
  
   
  
  
  

    
  
