/* Celé modální okno */
.modal {
    display: none; /* Skryté ve výchozím stavu */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Poloprůhledné pozadí */
  }
  
  /* Obsah modálního okna */
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
  }
  
  /* Křížek pro zavření */
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }

#openContent {
  cursor: pointer;
}